apptools==5.2.1
configobj==5.0.8
contourpy==1.1.0
cycler==0.11.0
envisage==7.0.3
fonttools==4.42.1
kiwisolver==1.4.4
matplotlib==3.8.0rc1
mayavi==4.8.1
numpy==1.26.0b1
packaging==23.1
pandas==2.1.0rc0
Pillow==10.0.0
pyface==8.0.0
Pygments==2.16.1
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyreadline==2.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
traits==6.4.2
traitsui==8.0.0
tzdata==2023.3
vtk==9.3.20230807rc0
